
:root{
    --primary-color: #2E2F42;
    --logo-color: #4D5AE5;
    --additional-color: #434455;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul{
    padding-left: 0;
    margin: 0;
}
button{
    cursor: pointer;
}

address{
    font-style: normal;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    color: var(--additional-color);
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    margin-right: 76px;
}

.link{
    text-decoration: none;
}

.header-logo-two {
    color: var(--primary-color);
}

.list{
    list-style: none
}

.container{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.header{
    padding-bottom: 24px;
    padding-top: 24px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    margin-right: auto;
}

.header-list{
    display: none;
    gap: 40px;
}

.header-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu:is(:hover, :focus){
    color: #404BBF;
}

.current{
    position: relative;
    color: #404BBF;
}

.header-menu.current::after{
    content: "";
    display: block;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 4px;
    top: 42px;
}

.address{
    display: none;
    font-style: normal;
}

.address-list{
    display: flex;
    gap: 40px;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--additional-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:is(:hover, :focus){
    color:#404BBF;
}

.mobile-menu-open{
    margin-left: 0;
    border: none;
    background-color: transparent;
}

.mobile-menu {
    position: relative;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close {
    position: absolute;
    left: 264px;
    top: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-link{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.mobile-menu-link.current{
    color: #404BBF;
}

.menu-address-list {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    color: #4D5AE5;
    margin-bottom: 40px;
}

.mobile-menu-mail{
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: #434455;
}
.menu-icons-container {
    width: 100%;
    display: flex;
    gap: 30px;
}
.menu-social-icons {
    width: 40px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-soc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one {
    background: var(--primary-color);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7035013834635417) 100%, rgba(46, 47, 66, 0.7) 100%), url(..//images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-one {
            background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7035013834635417) 100%, rgba(46, 47, 66, 0.7) 100%), url(..//images/people-office-mob-2x.jpg);
            background-size: cover;
        }
}

.section-one-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
}

.btn-text {
    margin-top: 72px;
    cursor: pointer;
    font-family: inherit;
    min-width: 169px;
    height: 56px;
    background: var(--logo-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-text:is(:hover, :focus){
    background-color: #404BBF;
}
.section-two {
    padding: 96px 0;
}

.section-two-list { 
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.sec-two-icon{
    max-width: 1199px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.section-two-text {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;}

.section-two-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--additional-color);
    max-width: 396px;
}

.about-list{
    display: flex;
    gap: 24px;
}

.section-three{
    padding-bottom: 120px;
    display: none;
}

.section-three-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.section-four {
    background: #F4F4FD;
    padding-bottom: 96px;
    padding-top: 96px;
}

.name-list {
    width: 260px;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-four-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    text-align: center;
    margin: 32px 0 8px;
}

.names-about {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--additional-color);
    text-align: center;
}


.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-link{
    width: 40px;
    height: 40px;
    background: var(--logo-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link:is(:hover, :focus) {
    background-color: #404BBF;
}

.icons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.section-five{
    padding-bottom: 96px;
    padding-top: 96px;
}

.section-five-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 72px;
}


.customers-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 16px;
}

.customers-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-container:is(:hover, :focus){
    border-color: #404BBF;
    fill: #404BBF;
}


.footer{
    background: var(--primary-color);
    padding-top: 96px;
    padding-bottom: 96px;
}
 
.footer-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--logo-color);
}

.footer-logo-two {
    color: #F4F4FD;}


.footer_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 268px;
    margin-top: 16px;
}

.footer-icons{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:is(:hover, :focus){
    background-color: #31D0AA;
}

.footer-list{
    display: flex;
    justify-content: center; 
    gap: 16px;
}

.social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.social-media{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-btn{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    transition-property: background-color, box-shadow, color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:is(:hover, :focus){
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    border-color: transparent;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
    align-items: center;
}

.img-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    
}
 
.portfolio-main-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.porfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--additional-color);
    margin-top: 8px;
}

.list-border{
    padding: 32px 0 32px 16px;
    border: 1px solid #E7E9FC;
    border-style: none solid solid solid;
}

.portfolio-link{
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:is(:hover, :focus){
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list:hover .portfolio-list-text{
    transform: translateY(0);
}

.portfolio-list-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-top-wrap{
    position: relative;
    overflow: hidden;
}

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    width: 100%;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 24px 24px;
}

.modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus){
    fill:#FFFFFF;
    background-color: #404BBF;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: visibility, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.modal-main-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-label{

}

.modal-label-text{
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-input{
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    transition-property: border, border-radius;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.modal-input:focus{
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}

.modal-input:focus + .modal-icons{
    fill: #4D5AE5;
}

.comment-input{
    display: block;
    resize: none;
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition-property: border, border-radius;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.comment-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.comment-input:focus{
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}

.modal-icons{
    position: absolute;
    left: 16px;
    top: 65%;
    transform: translateY(-50%);
}

.modal-wrap{
    position: relative;
    margin-bottom: 8px;
}

.modal-button{ 
    display: block;
    margin: 0 auto;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.modal-button:is(:hover, :focus){
    background-color: #404BBF;
}

.check-wrap{
    margin-top: 16px;
    margin-bottom: 24px;
}

.check-text {
    display: flex;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #757575;
}

.check-link {
    color: #4D5AE5;
}

.check-text .check-icon{
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-check:checked + .check-text .check-icon{
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}

.subscribe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-form {
    width: 100%;
}

.subscribe-text{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-input {
    color: #FFFFFF;
    padding-left: 16px;
    outline: transparent;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    margin-bottom: 16px;
}

.subscribe-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
    margin: 0 auto;
    background-color: #4D5AE5;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    letter-spacing: 0.04em;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.subscribe-button:is(:hover, :focus){
    background-color: #404BBF;
}

.subscribe-svg {
    fill: #FFFFFF;
}

@media screen and (min-width: 428px) {
    .container{
        width: 428px;
    }

    .section-one{
        max-width: 428px;
        background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7035013834635417) 100%, rgba(46, 47, 66, 0.7) 100%), url(..//images/people-office-mob.jpg);
    }

    .section-one-text{
        width: 320px;
    }

    .modal{
        width: 392px;
    }

    .mobile-menu-close{
        left: 380px;
    }

    .menu-icons-container{
        gap: 56px;
    }
}

@media screen and (min-width: 768px) {
    .container{
        width: 768px;
    }

    .header-list{
        display: flex;
    }

    .header{
        display: block;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .header-menu.current::after{
        top: 44px;
    }

    .contacts{
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14/12);
        letter-spacing: 0.04em;
    }

    .address{
        display: flex;
    }

    .address-list{
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .mobile-menu-open{
        display: none;
    }

    .mobile-menu{
        display: none;
    }

    .section-one{
        padding-bottom: 108px;
        max-width: 768px;
        background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7035013834635417) 100%, rgba(46, 47, 66, 0.7) 100%), url(..//images/people-office-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-one {
            background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7035013834635417) 100%, rgba(46, 47, 66, 0.7) 100%), url(..//images/people-office-tab-2x.jpg);
            background-size: contain;
        }
    }

    .section-one-text{
        font-size: 56px;
        line-height: calc(60/56);
        text-align: center;
        width: 496px;
    }

    .btn-text{
        margin-top: 40px;
    }

    .section-two-list{
        flex-direction: row;
        gap: 72px 24px;
    }

    .section-two-text{
        text-align: start;
        font-weight: 700;
    }

    .section-two-p{
        max-width: 356px;
        height: 72px;
    }

    .section-four{
        padding-bottom: 96px;
    }

    .name-list{
        width: 264px;
    }

    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }

    .section-five{
        padding-bottom: 96px;
    }

    .section-five-container{
        width: 584px;
    }

    .customers-list{
        margin-bottom: 0;
    }

    .customers-icons{
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer-logo-container{
        justify-content: start;
        align-items: start;
        margin-bottom: 0;
    }

    .social-container{
        align-items: start;
        justify-content: start;
        margin-bottom: 0;
    }

    .footer-container{
        display: flex;
        flex-wrap: wrap;
        width: 582px;
        gap: 72px 24px;
    }

    .subscribe-container{
        align-items: start;
    }

    .subscribe-form { 
        display: flex;
        gap: 24px;
    }

    .subscribe-input{
        width: 264px;
        margin-bottom: 0;
    }

    .modal{
        width: 392px;
    }
}  



@media screen and (min-width: 1158px) {
    .container{
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    .header{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    .header-container{
        width: 1440;
    }
    
    .address{
        font-style: normal;
    }

    .header-menu.current::after{
        top: 43px;
    }

    .contacts{
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
    }
    
    .address-list{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    
    .section-one {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7035013834635417) 100%, rgba(46, 47, 66, 0.7) 100%), url(..//images/people-office-desk.jpg);
        max-width: 1440px;
        margin: 0 auto;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .section-one {
            background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7035013834635417) 100%, rgba(46, 47, 66, 0.7) 100%), url(..//images/people-office-desk-2x.jpg);
            background-size: cover;
        }
    }
    
    .section-one-text {
        line-height: 1.07;
        width: 496px;
    }
    
    .btn-text {
        margin-top: 48px;
    }

    .section-two {
        padding: 120px 0;
    }
    
    .sec-two-icon{
        width: 264px;
        display: flex;

    }
    
    .section-two-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    
    .section-two-p {
        max-width: 264px;
    }
    
    .section-three{
        display: block;
    }
    
    .section-four {
        padding-bottom: 120px;
        padding-top: 120px;
    }
    
    .team-list{
        display: flex;
        gap: 24px;
    }
    
    .names {
        margin: 23px 0 8px;
    } 
    
    .section-five{
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .section-five-container{
        width: 1158px;
    }
    
    .customers-icons{
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }
    
    .customers-container{
        display: flex;
        gap: 24px;
        width: 168px;
    }

    .customers-list{
        margin-bottom: 0;
    }
    
    .footer{
        padding: 100px 0;
    }
    
    .footer_text {
        max-width: 264px;
    }
    
    .footer-logo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-bottom: 0px;
        margin-left: 0;
    }

    .social-container{
        display: block;
        margin-left: 120px;
        margin-bottom: 0;
        margin-right: 80px;
    }
    
    .footer-container{
        display: flex;
        flex-wrap: nowrap;
        width: 1158px;
        gap: 0;
    }
    
    .social-media{
        margin-bottom: 16px;
    }

    .subscribe-form{
        width: 453px;
        margin-top: 0;
    }
    
    .subscribe-container{
        justify-content: start;
    }
    
    .subscribe-input {
        min-width: 264px;
        margin-bottom: 0;
    }

    .modal{
        width: 392px;
    }
}